<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.diagnostics>

    <switches>
      <!-- BooleanSwitch -->
      <add name="mySqitch" value="1" />
      <!-- Trace level switch -->
      <add name="myTraceSwitch" value="2" />
    </switches>
  </system.diagnostics>
  <appSettings>
    <add key="MyBaseDir" value="C:\MyBase" />
    <add key="Ten" value="10" />
  </appSettings>
  <connectionStrings>
    <add name="ManinDB" connectionString="Data Source=.;Initial Catalog=Whatever;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>